.devices {
  &__row {
    @include flex-row(flex-start, baseline);
  }
  &__select-wrapper {
    flex: 1 1;
    @include flex-row(flex-start, center);
    flex-wrap: wrap;
  }
  &__select {
    &:not(:last-child) {
      margin-right: 24px;
    }
  }
  &__toolbar {
    margin-right: 16px;
  }
  &__collapse {
    // .ant-collapse-item {
    //   margin-bottom: 12px;
    //   overflow: hidden;
    //   background-color: '#f7f7f7';
    // }
    .ant-collapse-content-box {
      background-color: $N20;
      padding: 24px !important;
    }
  }
  &__main-list {
    padding-left: 0;
    list-style: none;
    @include flex-row;
    & > li {
      font-weight: 500;
      color: #1f263e;
    }
    & > * {
      flex: 1 1 25%;
      margin: 0;
    }
    & > *:not(:last-child) {
      margin-right: 32px;
    }
  }
  &__sub-list {
    list-style: disc;
    list-style-position: inside;
    padding-left: 0;
    margin: 0;
    margin-top: 16px;
    font-size: 14px;
    color: #000000;
    font-weight: 400;
  }
  &__options {
    padding: 0 0 0 8px;
    flex: 1 1;
    list-style: none;
    @include flex-row(space-between, center);
    margin: 0 60px 0 0;
  }
  &__option {
    font-size: 16px;
    color: #1f263e;
  }
  &__item {
    @include flex-row(space-between, center);
  }
  &__checkbox {
    margin-right: 35px;
    margin-left: 15px;
  }
  &__icon-device {
    font-size: 22px;
    position: relative;
    bottom: -3px;
    margin-right: 10px;
    // @include flex-row(flex-start, center)
  }
  &__icon-os {
    margin-right: 8px;
    position: relative;
    bottom: -1px;
    font-size: 16px;
  }
  &__icon-status {
    margin-right: 8px;
    position: relative;
    bottom: -1px;
    font-size: 16px;
  }
  &__extra {
    @include transition(color);
    font-size: 24px;
    &:hover {
      color: $N200;
    }
    &:active {
      color: $N900;
    }
  }
  &__clear-btn {
    color: $A150;
    padding: 0 20px;
    font-weight: 500;
  }
  & .devices__search {
    .ant-select-selection {
      background-color: #FAFAFC;
    }
  }
  &__search-row {
    @include flex-row(space-between, center);
    padding-bottom: 26px;
  }
  &__search-wrapper {
    @include flex-row(flex-start, center);
  }
  &__search-count {
    font-size: 16px;
    color: $N910;
    font-weight: 500;
    margin-right: 24px;
  }
  &__icons-wrapper {
    @include flex-row(flex-start, center);
    padding: 0 20px;
  }
  &__filter:not(:last-child) {
    margin-right: 20px;
  }
  .ant-collapse > .ant-collapse-item-active > .ant-collapse-header {
    box-shadow: 0 1px 4px -1px rgba(31,38,62,0.14);
  }
  & .devices__select .ant-select-selection {
    border: none;
    background-color: $N0;
  }
  .ant-select-selection__placeholder, .ant-select-search__field__placeholder {
    color: $N910;
    font-weight: 400;
  }
  .ant-select-arrow {
    color: $N910;
  }
  
}
