.the-header {
  background-color: $N0;
  padding: 0 24px;
  box-shadow: 0 2px 4px 0 rgba(31,38,62,0.15);
  position: relative;
  z-index: 10;
  @include flex-row(space-between, stretch);
  &__breadcrumbs {
    padding: 0;
    @include flex-row(flex-start, center);
    // margin: 16px 0;
  }
  &__row {
    @include flex-row(flex-start, baseline);
  }
  &__header-bar {
    @include flex-row(flex-start, center);
    & > *:not(:last-child) {
      margin-right: 20px;
    }
  }
  &__button-popover {
    padding-left: 0;
    i {
      transition: all 0.2s ease !important;
    }
    &.ant-popover-open {
      i {
        transform: rotateX(180deg);
      }
    }
  }
  &__search {
    width: 160px;
  }
  &__alert-button {
    // display: inline-block;
    color: $N910;
    font-size: 24px;
  }
  .ant-breadcrumb > span:last-child a {
    font-size: 13px;
    color: #1f263e;
    font-weight: 500;
  }
  & .ant-badge-count {
    color: #fff;
    background-color: #3DC0EF ;
  }
  & .ant-input {
    border-color: transparent;
  }
}

