.the-menu {
  & .ant-layout-sider-trigger {
    background: #262d47;
  }
  &.ant-layout-sider {
    background-color: #1f263e;
    & .ant-menu-dark,
    .ant-menu-dark .ant-menu-sub {
      background-color: #1f263e;
      box-shadow: none;
    }
    & .ant-menu-submenu {
      font-weight: 300;
      color: $N0;
    }
    & .ant-menu-submenu-open {
      color: #2bb1e2;
      .the-menu__list-icon {
        fill: #2bb1e2;
      }
    }
    & .ant-menu-submenu-active {
      color: #2bb1e2;
    }
    .ant-menu-dark
      .ant-menu-submenu-active
      > .ant-menu-submenu-title:hover
      > .ant-menu-submenu-arrow::before,
    .ant-menu-dark
      .ant-menu-submenu-active
      > .ant-menu-submenu-title:hover
      > .ant-menu-submenu-arrow::after {
      background: #2bb1e2;
    }
    & .ant-menu-submenu-title {
      &:hover {
        color: #2bb1e2;
        .the-menu__list-icon {
          fill: #2bb1e2;
        }
      }
    }
    & .ant-menu-item {
      border-left: 4px solid transparent;
    }
    & .ant-menu.ant-menu-dark .ant-menu-item-selected,
    .ant-menu-submenu-popup.ant-menu-dark .ant-menu-item-selected {
      opacity: 0.7;
      background: #29314b;
      border-left-color: #3dc0ef;
      color: #2bb1e2;
      font-weight: 700;
      .the-menu__list-icon {
        fill: #2bb1e2;
      }
    }
    & .ant-menu-item {
      font-weight: 400;
      &:hover {
        color: #2bb1e2;
        font-weight: 700;
      }
    }
    &
      .ant-menu-dark
      .ant-menu-submenu-open
      > .ant-menu-submenu-title
      > .ant-menu-submenu-arrow::before,
    .ant-menu-dark
      .ant-menu-submenu-open
      > .ant-menu-submenu-title
      > .ant-menu-submenu-arrow::after {
      background: #2bb1e2;
    }
  }
  
  .ant-menu-inline-collapsed > .ant-menu-submenu > .ant-menu-submenu-title {
    text-overflow: ellipsis;
    
  }
  .ant-menu-submenu-title {
    font-size: 16px;
  }
  & .ant-menu-submenu-open {
    color: #2bb1e2;
    .the-menu__list-icon {
      fill: #2bb1e2;
    }
  }
  
  .ant-menu-submenu-vertical > .ant-menu-submenu-title > span > span {
    display: none;
  }

  &__logo-wrapper {
    @include text($H60, 500, $N0);
    padding: 24px 0 12px 24px;
    overflow: hidden;
    border-bottom: 1px solid #29314c;
  }
  &__logo {
    height: 32px;
    width: auto;
    &--collapsed {
      position: relative;
      left: -9px;
    }
  }
  &__list-icon {
    fill: $N0;
    width: 20px;
    margin-right: 8px;
    transition: fill 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    position: relative;
    top: 3px;
  }
}
