body {
  font-family: 'Roboto', sans-serif;
}

p {
  margin-bottom: 0;
}

.ant-drawer-close {
  width: 30px;
  height: 30px;
  top: 27px;
  right: 30px;
  @include flex-row(center, center);
}
.ant-drawer-content-wrapper {
  transition: all .2s ease;
}
.ant-drawer-body {
  padding: 25px 0;
  background-color: #FAFAFC;
}
.ant-drawer-wrapper-body {
  background-color: #FAFAFC;
}
